@model IEnumerable<WebUI.Data.Entities.Posts>
@using PagedList
@using PagedList.Mvc
@using WebUI.Helpers
@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_SingleLayout.cshtml";
}

<div class="intro mb-4">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Kategoriye</strong> göre blog paylaşımları başarıyla listelenmiştir.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>

@foreach (var item in Model)
{
    <div class="item mb-5">
        <div class="media">
            <img class="mr-3 img-fluid post-thumb d-none d-md-flex" src="@item.PostPhoto" style="height: 75px;width: 125px" alt="image">
            <div class="media-body">
                <h3 class="title mb-1"><a href="/@SeoHelper.ToSeoUrl(item.PostTitle).ToLower()-@item.PostId">@item.PostTitle</a></h3>
                <div class="meta mb-1"><span class="comment"><a style="color: dodgerblue" href="/kategori/@SeoHelper.ToSeoUrl(item.Categories.CategoryName).ToLower()-@item.CategoryId"><b>Kategori: @item.Categories.CategoryName</b></a></span><span><a style="color: #18677F"><b>Tarih: @item.PostDateTime.ToString("dd.MM.yyyy")</b></a></span></div>
                <div class="intro">
                    @Html.Raw(item.PostContent.Substring(0, Math.Min(item.PostContent.Length, 300)))...
                </div>
                <a class="more-link" href="/@SeoHelper.ToSeoUrl(item.PostTitle).ToLower()-@item.PostId">Devamını Oku &rarr;</a>
            </div><!--//media-body-->
        </div><!--//media-->
    </div><!--//item-->
}

<div class="container-fluid" align="center">
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))
</div>

